*{
    margin:0;
    padding:0;
}
 
html,body{
    width: 100%;
}
 
body{
    display: flex;
    justify-content:center;
 
}
 
h2, p{
    padding:10px;
    color: #fff;
}
 
.container{
    width:80%;
    display: flex;
    flex-direction: column;
}
 
header{
    background-color: #66c2ff;
    padding:20px;
    text-align:center;
}
 
.container2{
    display: flex;
    flex-direction: row;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper2{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.wrapper article:nth-of-type(1){
  height: 150px;
  background-color: #ccccff;
}

.wrapper article:nth-of-type(2){
  height: 200px;
  background-color: #47d147;
}

.wrapper2 article:nth-of-type(1){
  height: 250px;
  background-color: #ffd633;
}

.wrapper2 article:nth-of-type(2){
  height: 100px;
  background-color: #adad85;
}

.container3{
  display: flex;
  flex-direction: column;
}

.wrapper3{
  display: flex;
  flex-direction: row;
  height: 100px;
}

.wrapper3 article:nth-of-type(1){
  background-color: #ff99cc;
  flex-grow: 3;
}

.wrapper3 article:nth-of-type(2){
  background-color: #ff1a1a;
  flex-grow: 1;
}

footer{
  background-color: #b3e0ff;
  padding:20px;
  text-align:center;
}