*{
    margin:0;
    padding:0;
}
 
html,body{
    height: 100%;
}
 
body{
    display: flex;
    justify-content:center;
 
}
 
h2{
    padding:10px;
}
 
p{
    padding:10px;
}
 
.container{
    width:80%;
    display: flex;
    flex-direction: column;
}
 
header{
    background-color:#edf89f;
    padding:20px;
    text-align:center;
    text-transform: uppercase;
}
 
.wrapper{
    display: flex;
}
.wrapper section{
    padding:20px;
}
 
.wrapper section{
    display: flex;
    flex-flow:column;
}
 
.wrapper section article{
    padding:20px;
    margin-bottom:10px;
 
}

article:nth-of-type(1){
  background-color: magenta;
  flex-grow: 1;
}

article:nth-of-type(2){
  background-color: aqua;
  flex-grow: 2;
}

article:nth-of-type(3){
  background-color: yellow;
}

article:nth-of-type(4){
  background-color: tomato;
}

article:nth-of-type(5){
  background-color: grey;
}

article:nth-of-type(6){
  background-color: green;
}

footer{
  background-color: pink;
}